<li
  class="item flex flex-row items-center justify-between"
  (mouseover)="isHovered = true"
  (mouseout)="isHovered = false"
  style="width: 100%"
>
  <div style="width: 70%" class="flex flex-row items-center pe-2">
    <input
      type="checkbox"
      class="toggle-completed"
      [ngClass]="{ checked: todo.isCompleted }"
      [id]="todo.id"
      (change)="changeTodoStatus()"
    />
    <label [for]="todo.id">
      <mat-icon
        *ngIf="todo.isCompleted"
        class="material-icons-outlined"
        color="primary"
        >check_circle</mat-icon
      >
      <mat-icon *ngIf="!todo.isCompleted" class="material-icons-outlined">
        radio_button_unchecked
      </mat-icon>
    </label>
    <span
      class="item__content ps-2"
      *ngIf="!isEditing"
      [ngClass]="{ checked: todo.isCompleted }"
      [@fadeStrikeThrough]="todo.isCompleted ? 'completed' : 'active'"
      >{{ todo.content }}</span
    >
    <form
      *ngIf="isEditing"
      class="ps-2"
      style="width: 100%"
      (submit)="submitEdit($event)"
    >
      <input
        type="text"
        style="width: 100%"
        name="editTodoContent"
        [(ngModel)]="todo.content"
      />
    </form>
  </div>
  <div
    class="actions flex flex-row justify-end"
    style="width: 30%"
    [ngClass]="{ active: isHovered }"
  >
    <mat-icon
      (click)="isEditing = !isEditing"
      style="cursor: pointer"
      aria-hidden="false"
      color="primary"
      *ngIf="!todo.isCompleted"
    >
      mode_edit
    </mat-icon>
    <mat-icon
      aria-hidden="false"
      style="cursor: pointer"
      color="warn"
      (click)="handleDeleteTodo()"
      >cancel</mat-icon
    >
  </div>
</li>
